[submodule "develop/client/start-flutter"]
	path = develop/client/start-flutter
	url = https://github.com/zxffffffff/start-flutter.git
[submodule "develop/client/start-flutter-flame"]
	path = develop/client/start-flutter-flame
	url = https://github.com/zxffffffff/start-flutter-flame.git
[submodule "develop/client/start-godot-cpp"]
	path = develop/client/start-godot-cpp
	url = https://github.com/zxffffffff/start-godot-cpp.git
[submodule "develop/client/start-electron"]
	path = develop/client/start-electron
	url = https://github.com/zxffffffff/start-electron.git
[submodule "develop/microservice/start-go"]
	path = develop/microservice/start-go
	url = https://github.com/zxffffffff/start-go.git
[submodule "develop/microservice/start-java"]
	path = develop/microservice/start-java
	url = https://github.com/zxffffffff/start-java.git
[submodule "develop/microservice/start-cpp-vcpkg"]
	path = develop/microservice/start-cpp-vcpkg
	url = https://github.com/zxffffffff/start-cpp-vcpkg.git
[submodule "develop/microservice/start-cpp"]
	path = develop/microservice/start-cpp
	url = https://github.com/zxffffffff/start-cpp.git
[submodule "devops/start-node-red"]
	path = devops/start-node-red
	url = https://github.com/zxffffffff/start-node-red.git
[submodule "develop/microservice/start-nodejs"]
	path = develop/microservice/start-nodejs
	url = https://github.com/zxffffffff/start-nodejs.git
[submodule "develop/client/start-react"]
	path = develop/client/start-react
	url = https://github.com/zxffffffff/start-react.git
